{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Friends list on the left -->
    <div class="col-md-3">
        <div class="friends">
            <p>Twoje Matche</p>
            <ul>
                {% if not friends %}
                <p>Nie masz jeszcze żadnych matchy</p>
                {% endif %}
                {% for friend in friends %}
                <a user-uuid="{{ friend.id }}" href="#">
                    <li>{{ friend.username }}</li>
                    {% if not friend.last_message %}
                    <span>Nie masz jeszcze żadnych wiadomości</span>
                    {% else %}
                    <span>{{ friend.last_message.body }}</span>
                    {% endif %}
                </a>
                {% endfor %}
            </ul>
        </div>

        <!-- Chat on the right -->
        <div class="col-md-9">
            <h1>Chat</h1>
            <a href="#">Call</a>
            <div id="messages">
                {% for friend in friends %}
                {% if friend.messages %}
                {% for message in friend.messages %}
                <div id="message">
                    {% if message.sender_id == user %}
                    <p style="text-align: right;">{{ message.body }}</p>
                    {% else %}
                    <p style="text-align: left;">{{ message.body }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
            <form id="chat-form">
                {% csrf_token %}
                <input type="text" id="chat-message-input" name="message" placeholder="Napisz wiadomość..." />
            </form>
            <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
        </div>
    </div>
</div>
{% endblock %}