{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'edit_account' %}">Edytuj profil</a>
            <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" alt="Profile_logo"/>
            <h2 class="dev__username">{{user.username}}</h2>
            <p class="dev__fullname">{{user.first_name }} {{user.last_name}}</p>

            {% if profile.age %}
            <p class="dev__location">Wiek: {{profile.age}}</p>
            {% endif %}

            {% if profile.city %}
            <p class="dev__location">Lokalizacja: {{profile.city}}</p>
            {% endif %}

            {% if profile.gender %}
            <p class="dev__location">Płeć: {{profile.gender}}</p>
            {% endif %}

            <ul class="dev__social">
              {% if profile.social_github %}
              <li>
                <a title="Github" href="{{profile.social_github}}" target="_blank"><i class="fa fa-github"></i></a>
              </li>
              {% endif %}

              {% if profile.social_twitter %}
              <li>
                <a title="Twitter" href="{{profile.social_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              {% endif %}

              {% if profile.social_youtube %}
              <li>
                <a title="YouTube" href="{{profile.social_youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
              </li>
              {% endif %}

              {% if profile.social_facebook %}
              <li>
                <a title="Facebook" href="{{profile.social_facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              {% endif %}

              {% if profile.social_linkedin %}
              <li>
                <a title="Linkedin" href="{{profile.social_linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>


      <div class="column column--2of3">
        <div class="devInfo">
          <h3 class="devInfo__title">O mnie</h3>
          <p class="devInfo__about">{{profile.bio}}</p>
        </div>

        <div class="settings">
          <h3 class="settings__title">Ulubione technologie</h3>
        </div>

        <div class="settings__tags">
          {% for tag in tags %}
            <h4 class="tag tag--pill tag--sub tag--lg">{{ tag.name }}</h4>
          {% endfor %}
        </div>

        <div class="settings">
          <h3 class="settings__title">Moje kody</h3>
          <a class="tag tag--pill tag--main settings__btn tag--lg" href=""><i
              class="im im-plus"></i>Dodaj kod</a>
        </div>

        <table class="settings__table">
          {% for code in codes %}
          <tr>
            <td class="settings__tableInfo">
              <a href="">{{code.title}}</a>
            </td>

            <td class="settings__tableInfo">
              <p>Współczynnik plagiatu:</p>
            </td>

            <td class="settings__tableInfo">
              <div class="progress-circle" data-progress="{{ code.plagiarism_ratio }}">
                <svg class="progress-circle__svg">
                  <circle class="progress-circle__background" cx="30" cy="30" r="23"></circle>
                  <circle class="progress-circle__progress" cx="30" cy="30" r="25"></circle>
                </svg>
                <span class="progress-circle__value">{{ code.plagiarism_ratio }}%</span>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        
      </div>
    </div>
  </div>
</main>

{% endblock %}