{% extends 'main.html' %}

{% block content %}

<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'account' %}">Powrót do profilu</a>
              <img class="avatar avatar--xl dev__avatar" src="{{user.profile.imageURL}}" alt="Profile_logo"/>
              <h2 class="dev__username">{{user.username}}</h2>
              <p class="dev__fullname">{{user.first_name }} {{user.last_name}}</p>
  
              {% if user.profile.age %}
              <p class="dev__location">Wiek: {{user.profile.age}}</p>
              {% endif %}
  
              {% if user.profile.city %}
              <p class="dev__location">Lokalizacja: {{user.profile.city}}</p>
              {% endif %}
  
              {% if user.profile.gender %}
              <p class="dev__location">Płeć: {{user.profile.gender}}</p>
              {% endif %}
  
              <ul class="dev__social">
                {% if user.profile.social_github %}
                <li>
                  <a title="Github" href="{{user.profile.social_github}}" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                {% endif %}
  
                {% if user.profile.social_twitter %}
                <li>
                  <a title="Twitter" href="{{user.profile.social_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                {% endif %}
  
                {% if user.profile.social_youtube %}
                <li>
                  <a title="YouTube" href="{{user.profile.social_youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
                {% endif %}
  
                {% if user.profile.social_facebook %}
                <li>
                  <a title="Facebook" href="{{user.profile.social_facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                {% endif %}
  
                {% if user.profile.social_linkedin %}
                <li>
                  <a title="Linkedin" href="{{user.profile.social_linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
  
  
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">Edycja ulubionych technologii</h3>
          </div>

          <div class="tag-container-form">
            <form method="post">
                {% csrf_token %}
                {{ add_form.as_p }}
                <button class="btn btn--sub tag-container__form-btn" type="submit" name="add">Dodaj</button>
            </form>
          </div>
    
          {% for tag in favourite_tags %}
            <div class="tag-container">
                <form method="post">
                    {% csrf_token %}
                    <button class="tag-button {% if forloop.first %}hidden{% endif %}" type="submit" name="increase">+</button>
                    <button class="tag-name" type="submit" name="remove">{{ tag.tag_id.name }}</button>
                    <input type="hidden" name="tag_id" value="{{ tag.id }}">
                    <button class="tag-button {% if forloop.last %}hidden{% endif %}" type="submit" name="decrease">-</button>
                </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}
