{% load static %}
{% block content %}
<div id="videos">
    <video class="video-player" id="user-1" autoplay playsinline></video>
    <video class="video-player" id="user-2" autoplay playsinline></video>
</div>

<button id="create-offer">Create Offer</button>
<label>SDP Offer</label>
<textarea id="offer-sdp"></textarea>

<button id="create-answer">Create Answer</button>
<label>SDP Answer</label>
<textarea id="answer-sdp"></textarea>

<button id="add-answer">Add Answer</button>

<script type="text/javascript" src="{% static 'js/call.js' %}"></script>
{% endblock %}
