<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- CodeHub UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <!-- Code highlight -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/stackoverflow-light.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Progress bar -->
    <script src="{% static 'js/progressbar.js' %}"></script>

    <title>CodeHub</title>
</head>

<body>
    {% include 'navbar.html' %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert  alert--{{message.tags}}">
        <p class="alert__message">{{message}}</p>
        <button class="alert__close">x</button>
    </div>

    {% endfor %}
    {% endif %}


    {% block content %}

    {% endblock content %}

    
</body>

<script src="{% static 'js/circular_progress_bar.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/codes.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


</html>