.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle__svg {
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}

.progress-circle__background {
  fill: var(--color-sub-lighter);
  stroke: var(--color-sub-lighter);
  stroke-width: 4;
}

.progress-circle__progress {
  fill: none;
  stroke: var(--color-main-light);
  stroke-width: 6;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  transition: stroke-dashoffset 0.8s ease-in-out;
}

.progress-circle__value {
  text-align: center;
  color: var(--color-white);
  position: absolute;
}
