body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #333;
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #ddd;
}