{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <div class="formHead">
                {% if page == 'edit_project' %}
                <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'display_project' project.id %}">
                    {% else %}
                <a class="tag tag--pill tag--main settings__btn tag--lg" href="{% url 'account' %}">
                    {% endif %}
                    <i class="im im-plus"></i>Powrót</a>

                {% if page == 'add_project' %}
                <h3>Dodaj nowy Projekt</h3>
                {% else %}
                <h3>Edytuj Projekt</h3>
                {% endif %}

            </div>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field|escape}}

                    {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="settings__saveBtn">
                    {% if page == 'add_project' %}
                    <input class="btn tag--main btn--main my-md tag--pill" type="submit" value="Dodaj"/>
                    {% else %}
                    <input class="btn tag--main btn--main my-md tag--pill" type="submit" value="Zapisz zmiany "/>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock content %}